<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OdcMedicoWebServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.medendi.com.ar:84/odcmedico.asmx" binding="basicHttpBinding" bindingConfiguration="OdcMedicoWebServiceSoap" contract="WSOjos.OdcMedicoWebServiceSoap" name="OdcMedicoWebServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
