<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="http://puntatracking.com/rest/vehicles/last"/>
    <add key="urlParameters" value="?username=webservice&amp;password=webcardio&amp;orgname=0512&amp;reset=1"/>
    <add key="URL2" value="http://puntatracking.com/rest/vehicles"/>
    <add key="urlParameters2" value="?username=webservice&amp;password=webcardio&amp;orgname=0512"/>
    
    <!--DESA-->
    <!--<add key="connectionString" value="Data Source=192.168.5.95\SQLEXPRESS;Initial Catalog=Parana;User Id=sa;Password=sa2018;" />-->
    <!--PROD-->
    <add key="connectionString" value="Data Source=192.168.1.11;Initial Catalog=Shaman;User Id=usr_shaman;Password=usr_shaman.098;"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
